{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    {% if cart is empty %}
        <p>Votre panier est vide.</p>
        <a href="{{ path('app_post') }}" class="btn btn-primary">Retour à la boutique</a>
    {% else %}
        <div class="cart-container">
            {% for index, item in cart %}
                <div class="cart-item">
                    <div class="cart-item-image">
                        <img src="{{ asset('uploads/' ~ item.image) }}" alt="{{ item.name }}">
                    </div>
                    <div class="cart-item-details">
                        <div class="cart-item-details-p">
                            <p><strong>Nom :</strong> {{ item.name }}</p>
                            <p><strong>Prix :</strong> {{ item.price }} €</p>
                            <p><strong>Taille :</strong> {{ item.size }}</p>
                        </div>
                        <div class="cart-item-details-btn">
                            <a href="{{ path('cart_remove', { index: index }) }}" class="btn btn-retirer">Retirer du panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="cart-summary">
                <div class="cart-total">
                    <p>TOTAL : <strong>{{ total }} €</strong></p>
                    <a href="{{ path('stripe_checkout') }}" class="btn btn-danger">Finaliser ma commande</a>
                </div>
                <div class="cart-buttons">
                    <a href="{{ path('app_product') }}" class="btn btn-success">Continuer mes achats</a>
                </div>
            </div>
        </div>

        


<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("{{ stripe_public_key }}");

    document.getElementById("checkout-button").addEventListener("click", function () {
        fetch("{{ path('stripe_checkout') }}")
            .then(response => response.json())
            .then(session => {
                if (session.id) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                } else {
                    console.error("Session ID manquant");
                }
            })
            .catch(error => console.error("Erreur :", error));
    });
</script>

    {% endif %}
{% endblock %}
