{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <p class="mb-3 font-weight-normal">Se connecter</p>
        <label for="inputEmail">Nom utilisateur :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="johndoe" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*******" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Se Connecter
        </button>
        <p class="forget">Mot de passe oublié</p>

        <p>Pas encore inscrit ? 
            <br>
            <button class="btn">
                <a class="register" href="{{ path('app_register') }}">Créer un compte</a>
            </button>
        </p>
    </div>

    <a href="{{ path('app_post') }}" class="btn-link">← Retour à l'accueil</a>
</form>
{% endblock %}
