{% extends 'base.html.twig' %}

{% block body %}

    <div class="add-product">
        {% if form is defined %}
            {% include 'admin/form.html.twig' %}
        {% else %}
            <p>Le formulaire n'est pas disponible.</p>
        {% endif %}
    </div>

    {% for product in products %}
        <div class="edit-product">
            {% if editForms[product.id] is defined %}


                {{ form_start(editForms[product.id], {'action': path('admin_product_edit', {id: product.id}), 'attr': {'enctype': 'multipart/form-data'}}) }}
                    
                    <div>
                        {% if product.image %}
                            <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
                        {% else %}
                            <p>Aucune image</p>
                        {% endif %}
                    </div>
                    
                    {{ form_row(editForms[product.id].name) }}
                    {{ form_row(editForms[product.id].price) }}

                    {{ form_row(editForms[product.id].stock_xs) }}
                    {{ form_row(editForms[product.id].stock_s) }}
                    {{ form_row(editForms[product.id].stock_m) }}
                    {{ form_row(editForms[product.id].stock_l) }}
                    {{ form_row(editForms[product.id].stock_xl) }}

                    <button type="submit">Modifier</button>
                {{ form_end(editForms[product.id]) }}
            {% else %}
                <p>Le formulaire d'édition n'est pas disponible.</p>
            {% endif %}
        </div>

        <form action="{{ path('admin_product_delete', { id: product.id }) }}" method="post" onsubmit="return confirm('Supprimer ce produit ?');">
            <button type="submit" class="delete-button">SUPPRIMER</button>
        </form>
    {% endfor %}
{% endblock %}


