{% extends 'base.html.twig' %}

{% block body %}

    <div class="add-product">
        {% if form is defined %}
            {% include 'admin/form.html.twig' %}
        {% else %}
            <p>Le formulaire n'est pas disponible.</p>
        {% endif %}
    </div>

<div class="edit-product">
    {% for product in products %}
        {% if editForms[product.id] is defined %}
            
                {{ form_start(editForms[product.id], {'action': path('admin_product_edit', {id: product.id}), 'attr': {'enctype': 'multipart/form-data'}}) }}
                   
                   <div class="product-container">
                        <div class="image-stock">
                            {% if product.image %}
                                <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
                            {% else %}
                                <p>Aucune image</p>
                            {% endif %}
                        </div>
                        
                        <div class="form-content">
                            <div class="form-fields">
                                {{ form_row(editForms[product.id].name) }}
                                {{ form_row(editForms[product.id].price) }}
                                
                                {{ form_row(editForms[product.id].stock_xs) }}
                                {{ form_row(editForms[product.id].stock_s) }}
                                {{ form_row(editForms[product.id].stock_m) }}
                                {{ form_row(editForms[product.id].stock_l) }}
                                {{ form_row(editForms[product.id].stock_xl) }}
                              </div>  

                                <!-- Conteneur pour aligner les boutons -->
                                <div class="button-group">         
                                    <a href="{{ path('admin_product_delete', { id: product.id }) }}" class="btn delete-button" onclick="return confirm('Supprimer ce produit ?');">Supprimer</a>
                                    <button type="submit" class="btn update-button">Modifier</button>
                                </div>
                            
                        </div>
                    </div>
                    
                {{ form_end(editForms[product.id]) }}        
        {% else %}
                <p>Le formulaire d'édition n'est pas disponible.</p>
            
        {% endif %}

        

    {% endfor %}
    </div>
{% endblock %}


