{% extends 'base.html.twig' %}

{% block body %}

    

<div class="featured-products">

<form method="get">
        <label for="priceRange">Filtrer par prix :</label>
        <select name="priceRange" id="priceRange">
            <option value="">Tous les prix</option>
            <option value="10-29" {% if currentRange == '10-29' %}selected{% endif %}>10 à 29 €</option>
            <option value="29-35" {% if currentRange == '29-35' %}selected{% endif %}>29 à 35 €</option>
            <option value="35-50" {% if currentRange == '35-50' %}selected{% endif %}>35 à 50 €</option>
        </select>
        <button type="submit">Filtrer</button>
    </form>


    {% for product in products %}
            <div class="product-card">
                <div class="image-container">
                    {% if product.image %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </div>
                <div class="description-product">
                    <div class="bottom-section">
                        <div class="name-and-price">
                            <h3>{{ product.name }}</h3>
                            <p>Prix : {{ product.price }} €</p>
                        </div>
                            <a href="{{ path('product_show', { id: product.id }) }}" class="btn-view">Voir</a>
                    </div>
                </div>
            </div>
            {% else %}
                <li>Aucun produit ne correspond à cette fourchette de prix.</li>
            {% endfor %}
        </div>

    <a href="{{ path('app_post') }}" class="btn btn-link">← Retour à l'accueil</a>

{% endblock %}

