<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% if app.request.get('_route') starts with 'admin_' %}
            <link rel="stylesheet" href="{{ asset('styles/backoffice.css') }}">
        {% endif %}
        {% if app.request.get('_route') starts with 'cart_' %}
            <link rel="stylesheet" href="{{ asset('styles/cart.css') }}">
        {% endif %}
        {% if app.request.attributes.get('_route') == 'app_login' %}
            <link rel="stylesheet" href="{{ asset('styles/signin.css') }}">
        {% endif %}
        {% if app.request.attributes.get('_route') == 'app_register' %}
            <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
        {% endif %}
        {% if app.request.attributes.get('_route') == 'product_show' %}
            <link rel="stylesheet" href="{{ asset('styles/showproduct.css') }}">
        {% endif %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="menu">
            <div class="branding">
                <img src="{{ asset('uploads/logo.png') }}" alt="Logo de l'entreprise">
                <p class="slogan">Don't compromise on your look</p>
            </div>

        {% if app.request.get('_route') starts with 'admin' %}
            <h1>Back-Office</h1>
        {% endif %}

            <nav>
        <ul>
            {% if app.request.get('_route') starts with 'admin' %}
                <!-- Si on est dans le back-office -->
                <li><a href="{{ path('app_product') }}" class="{% if app.request.get('_route') == 'app_product' %}active{% endif %}">Boutique</a></li>
                <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
            {% else %}
                <!-- Si on est sur le site normal -->
                <li><a href="{{ path('app_post') }}" class="{% if app.request.get('_route') == 'app_post' %}active{% endif %}">Accueil</a></li>
                {% if not app.user %}
                    <li><a href="{{ path('app_register') }}" class="{% if app.request.get('_route') == 'app_register' %}active{% endif %}">S'inscrire</a></li>
                    <li><a href="{{ path('app_login') }}" class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">Se Connecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_product') }}" class="{% if app.request.get('_route') == 'app_product' %}active{% endif %}">Boutique</a></li>
                    <li><a href="{{ path('cart_show') }}" class="{% if app.request.get('_route') == 'cart_show' %}active{% endif %}">Panier</a></li>
                    <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
        </div>
    </header>
        {% block body %}{% endblock %}
    <footer>
        <div class="footer-info">
            <h3>Stubborn</h3>
            <p>Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <p>Adresse de contact : stubborn@blabla.com</p>
        </div>
    </footer>
    </body>
</html>
