{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre boutique de sweat-shirts !</h1>

    <h2>Nos produits phares :</h2>
    <div class="featured-products">
        {% for product in products %}
            <div class="product-card">
                <div class="image-container">
                    {% if product.image %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" class="product-image" alt="{{ product.name }}">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </div>
                <div class="description-product">
                    <div class="bottom-section">
                        <div class="name-and-price">
                            <h3>{{ product.name }}</h3>
                            <p>Prix : {{ product.price }} €</p>
                        </div>
                        {% if user %}
                            <a href="{{ path('product_show', { id: product.id }) }}" class="btn-view">Voir</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

